.container {
  height: 60px;
  width: 150px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
}

select {
  font-family: 'Quicksand', serif;
}

select:focus {
  outline: none;
}
