.container {
  background-color: whitesmoke;
  display: block;
  max-width: 100%;
}

.authorContainer{
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
}

.postsContainer{
  position: relative;
  float: left;
  width: 68%;
}

.latestContainer{
  position: relative;
  float: right;
  width: 30%;
}

.posts {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px){

  .authorContainer{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
  }

  .postsContainer{
    position: relative;
    float: none;
    width: 100%;
  }
  .latestContainer{
    position: relative;
    float: none;
    width: 100%;
  }
}
