/* header */

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
  padding: 20px;
}

.logo {
  display: block;
  float: left;
  font-size: 1.2em;
  padding: 0px 0px 0px 20px;
  text-decoration: none;
}

.menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}
.menu input {
  background-color: rgba(255, 0, 0, 0.867);
  overflow: hidden;
  transition: all 10s ease-out;
  display: none;
}

.menuIcon {
  cursor: pointer;
  display: block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  width: 18px;
}

.navicon::before {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 50%;
}
.navicon::after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.navicon::before {
  top: 5px;
}

.navicon::after {
  top: -5px;
}

/* menu btn */

.menuBtn {
  display: none;
}

.menuBtn:checked ~ .menu {
  max-height: 240px;
}

.menuBtn:checked ~ .menu input {
  display: flex;
}

.menuBtn:checked ~ .menuIcon .navicon {
  background: transparent;
}

.menuBtn:checked ~ .menuIcon .navicon::before {
  transform: rotate(-45deg);
}

.menuBtn:checked ~ .menuIcon .navicon::after {
  transform: rotate(45deg);
}

.menuBtn:checked ~ .menuIcon .navicon::before,
.menuBtn:checked ~ .menuIcon .navicon::after {
  top: 0;
}
