.container {
  background-color: #ffffff;
  margin-bottom: 20px;
}

.container h2 {
  font-size: 20px;
}

.authorsContainer {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
}
.authorsContainer li {
  float: left;
}

.authorItem {
 position: relative;
 margin-right: 2rem;
 margin-top: 1rem;
}

.authorButton {
  cursor: pointer;
  border-radius: 5px;
  height: 60px;
  width: 150px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: transparent;
}

.authorButton:hover {
  background-color: rgba(0, 0, 0, 0.12);
}

.authorsContainer button:focus {
  outline: none;
}

/* author selected */

.authorButtonSelected {
  cursor: pointer;
  border-radius: 5px;
  height: 60px;
  width: 150px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.12);
}

.cancelButtonHide{
  display: none;
}

.cancelButton {
  position: absolute;
  right: -5px;
  top: -5px;
  width: 19px;
  height: 19px;
  cursor: pointer;
  background-color: #8b8b8b;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 100%;
}

.cancelIcon:before, .cancelIcon:after {
  content: ' ';
  background-color: white;
  height: 12px;
  width: 2px;
  position: absolute;
  left: 8px;
  top: 3px
}

.cancelIcon:before {
    transform: rotate(45deg);
}

.cancelIcon:after {
    transform: rotate(-45deg);
}

